pkgbase = w_scan
	pkgdesc = Small channel scan tool for vdr
	pkgver = 20170107
	pkgrel = 1
	url = http://wirbel.htpc-forum.de/w_scan/index2.html
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	license = GPL2
	depends = gcc-libs
	depends = glibc
	source = http://wirbel.htpc-forum.de/w_scan/w_scan-20170107.tar.bz2
	md5sums = c7f9adf92d46b8da5391be80be6fbd72

pkgname = w_scan

