pkgbase = kodi-addon-pvr-hts
	pkgdesc = Kodi's Tvheadend HTSP client addon
	pkgver = 4.4.14
	pkgrel = 1
	url = https://github.com/kodi-pvr/pvr.hts
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	license = GPL2
	makedepends = cmake
	makedepends = git
	makedepends = kodi-dev
	makedepends = kodi-platform
	depends = kodi
	source = git+https://github.com/kodi-pvr/pvr.hts.git#commit=2b7348aff8172dd211d2cee608bdee711d995218
	md5sums = SKIP

pkgname = kodi-addon-pvr-hts

