pkgbase = kodi-addon-pvr-hts
	pkgdesc = Kodi's Tvheadend HTSP client addon
	pkgver = 8.2.2
	pkgrel = 1
	url = https://github.com/kodi-pvr/pvr.hts
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	license = GPL2
	makedepends = cmake
	makedepends = git
	makedepends = kodi-dev
	makedepends = kodi-platform
	depends = kodi
	source = git+https://github.com/kodi-pvr/pvr.hts.git#commit=6a4a3a8139d6e921a2b36e2bc43a747d2eeea6aa
	md5sums = SKIP

pkgname = kodi-addon-pvr-hts

