pkgbase = vdr-epg-daemon
	pkgver = 1.2.3
	pkgrel = 1
	url = https://github.com/vdr-projects/vdr-epg-daemon
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	license = GPL2
	makedepends = curl
	makedepends = imlib2
	makedepends = jansson
	makedepends = libarchive
	makedepends = libjpeg
	makedepends = libmariadbclient
	makedepends = libmicrohttpd
	makedepends = libxslt
	makedepends = python
	source = vdr-epg-daemon-1.2.3.tar.gz::https://github.com/vdr-projects/vdr-epg-daemon/archive/refs/tags/1.2.3.tar.gz
	source = vdr-epg-daemon-fix-build.patch
	sha256sums = 344702754760b7db3826b7c76510c685ec417ae30a7f816fdad75e71e5bf22e9
	sha256sums = b0f7ecbc0c46d8a07e16a13c7f3325054cac1a60bc7143592d6bea67900a2192

pkgname = epgd
	pkgdesc = write epg data to a mysql database
	depends = curl
	depends = imlib2
	depends = jansson
	depends = libarchive
	depends = libmariadbclient
	depends = libmicrohttpd
	depends = libxslt
	depends = python
	depends = perl
	backup = 

pkgname = mariadb-epglv
	pkgdesc = epglv plugin for mysql/mariadb
	install = mariadb-epglv.install
	depends = libmariadbclient
	backup = usr/lib/mysql/plugin/mysqlepglv.so
