pkgbase = vdr-epg-daemon
	pkgver = 1.3.26
	pkgrel = 1
	url = https://github.com/horchi/vdr-epg-daemon
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	license = GPL2
	makedepends = curl
	makedepends = imlib2
	makedepends = jansson
	makedepends = libarchive
	makedepends = libjpeg
	makedepends = libmariadbclient
	makedepends = libmicrohttpd
	makedepends = libxslt
	makedepends = python
	source = vdr-epg-daemon-1.3.26.tar.gz::https://github.com/horchi/vdr-epg-daemon/archive/refs/tags/1.3.26.tar.gz
	sha256sums = 0844c817fac5c539dd84bb197df00b0d93b63ea57dedcf44b516687aa2f238c4

pkgname = epgd
	pkgdesc = write epg data to a mysql database
	depends = curl
	depends = imlib2
	depends = jansson
	depends = libarchive
	depends = libmariadbclient
	depends = libmicrohttpd
	depends = libxslt
	depends = python
	depends = perl
	backup = 

pkgname = mariadb-epglv
	pkgdesc = epglv plugin for mysql/mariadb
	install = mariadb-epglv.install
	depends = libmariadbclient
	backup = usr/lib/mysql/plugin/mysqlepglv.so
