pkgbase = vdr-extrecmenu
	pkgdesc = provides additional functions to VDR's recordings menu
	pkgver = 1.2.4_1_gbcd6790
	pkgrel = 1
	epoch = 1
	url = http://projects.vdr-developer.org/projects/show/plg-extrecmenu
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	license = GPL2
	makedepends = git
	depends = gcc-libs
	depends = vdr-api=2.3.1
	backup = etc/vdr/conf.avail/50-extrecmenu.conf
	source = git://projects.vdr-developer.org/vdr-plugin-extrecmenu.git#commit=bcd6790df6e680fed067b6f1c237aec9a6c03e52
	source = epgsearch-newmakefile-vdr-1.7.36.tgz::http://www.vdr-portal.de/index.php?page=Attachment&attachmentID=32667
	md5sums = SKIP
	md5sums = da93e7d1b5b6b59bcbee8730c9b9e97a

pkgname = vdr-extrecmenu

