pkgbase = pearldpf-simple
	pkgdesc = Graphlcd skin for Pearl Digital Picture Frames
	pkgver = 20140301
	pkgrel = 1
	url = http://www.vdr-portal.de/board18-vdr-hardware/board11-displays/p1054042-pearl-display-yavdr-todo-install/#post1054042
	arch = any
	license = GPL2
	makedepends = git
	depends = ttf-ubuntu-font-family
	depends = vdr-graphlcd
	backup = usr/share/vdr/plugins/graphlcd/skins/pearldpf-simple/settings.conf
	source = git+https://github.com/M-Reimer/pearldpf-simple.git#commit=d2a403b46d1e2f77b4a7ddffa12ed6f0d847d0d2
	md5sums = SKIP

pkgname = pearldpf-simple

