pkgbase = tvheadend
	pkgdesc = TV streaming server for Linux
	pkgver = 4.2.8
	pkgrel = 5
	url = https://tvheadend.org/projects/tvheadend
	install = tvheadend.install
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = wget
	makedepends = python
	depends = avahi
	depends = uriparser
	depends = openssl
	depends = tar
	optdepends = xmltv: For an alternative source of programme listings
	conflicts = tvheadend-git
	source = tvheadend-4.2.8.tar.gz::https://github.com/tvheadend/tvheadend/archive/v4.2.8.tar.gz
	source = https://github.com/DirtBagXon/libmpeg/raw/master/libhdhomerun_20171221.tgz
	source = tvheadend-4.2.8-fno-common.patch
	source = tvheadend-4.2.8-allocate-space-for-buf-on-heap.patch
	source = tvheadend-4.2.8-Fix-use-after-free.patch
	source = tvheadend.service
	source = tvheadend.sysusers
	source = tvheadend.tmpfiles
	sha256sums = 1aef889373d5fad2a7bd2f139156d4d5e34a64b6d38b87b868a2df415f01f7ad
	sha256sums = 08e22db43621b96260086a834e7c586cb92aa4b3ec30adf0adf3c7588d527ff8
	sha256sums = 79a6f04859050830f2b0a8f3c025841627d8ab91fe2f5f73109cd72b02bb4ea8
	sha256sums = d9f89d523763e3dd45599f6ba9f0604184c6fc9f99da4397d8434719b5078798
	sha256sums = 34357dc21122a3e86e588b05f9abaccacb95ba845b61809cb93a992d334e0938
	sha256sums = 0fba50a4d8993aa32815ffcc7eac6b372a85f3334bd804571cc6c6cf0795fff1
	sha256sums = d8d63f20a568e16e94df8b427c690075162627dab5201ae3f9d4b65bf758f0d3
	sha256sums = 4f805a90862d7999adbf082270199d2b5dd0b681711248135fd1e35ecea7aa38

pkgname = tvheadend
