pkgbase = kodi-standalone-service
	pkgdesc = Systemd service and user to run kodi in stand-alone mode
	pkgver = 1.8
	pkgrel = 5
	url = https://wiki.archlinux.org/index.php/Kodi#Kodi-standalone-service
	install = readme.install
	arch = x86_64
	arch = i686
	license = GPL
	depends = systemd
	depends = xorg-server
	depends = xorg-xinit
	depends = kodi
	depends = polkit
	replaces = xbmc-standalone-service
	source = kodi.service
	sha256sums = 7f3f95bdabfd52816a62f10e9f0e576e8bd182970b09b480ba3be1b50d34c58b

pkgname = kodi-standalone-service

