pkgbase = kodi-standalone-service
	pkgdesc = Systemd service and user to run kodi in stand-alone mode
	pkgver = 1.9
	pkgrel = 1
	url = https://wiki.archlinux.org/index.php/Kodi#Kodi-standalone-service
	install = kodi.install
	arch = any
	license = GPL
	depends = systemd
	depends = xorg-server
	depends = xorg-xinit
	depends = kodi
	depends = polkit
	conflicts = kodi-c1
	conflicts = kodi-c2
	conflicts = kodi-imx
	conflicts = kodi-odroid
	conflicts = kodi-rbp-git
	conflicts = kodi-rbp
	conflicts = kodi-rbp3
	conflicts = kodi-rbp4
	replaces = xbmc-standalone-service
	source = kodi.service
	sha256sums = 669aa91f930ef7d5d287d2e3196343e0f029fa972ecd4a9de8c1a28a06194447

pkgname = kodi-standalone-service

