pkgbase = kodi-standalone-service
	pkgdesc = Systemd service and user to run kodi in stand-alone mode
	pkgver = 1.8
	pkgrel = 5
	url = https://wiki.archlinux.org/index.php/Kodi#Kodi-standalone-service
	install = readme.install
	arch = x86_64
	arch = i686
	license = GPL
	depends = systemd
	depends = xorg-server
	depends = xorg-xinit
	depends = kodi
	depends = polkit
	replaces = xbmc-standalone-service
	source = kodi.service
	sha256sums = 84f547e62cdc5e950dd8d41db95ef40b780c177052fa3b61d0c10def59c5ef53

pkgname = kodi-standalone-service

