[Unit]
Description=Starts instance of Kodi using xinit
After=systemd-user-sessions.service network.target sound.target mysqld.service
Conflicts=getty@tty7.service

[Service]
User=kodi
Group=kodi
PermissionsStartOnly=true
PAMName=login
TTYPath=/dev/tty7
ExecStart=/usr/bin/xinit /usr/bin/dbus-launch --exit-with-session /usr/bin/kodi-standalone -- -nolisten tcp vt7 :0
ExecStartPost=/usr/bin/chvt 7
Restart=on-abort
StandardInput=tty

[Install]
WantedBy=multi-user.target
