pkgbase = ttf-opensans
	pkgdesc = Google Fonts Open Sans
	pkgver = 20160516
	pkgrel = 1
	url = http://www.google.com/fonts/specimen/Open+Sans
	install = ttf-opensans.install
	arch = any
	license = Apache
	depends = fontconfig
	depends = xorg-fonts-encodings
	depends = xorg-font-utils
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-Bold.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-BoldItalic.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-ExtraBold.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-ExtraBoldItalic.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-Italic.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-Light.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-LightItalic.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-Regular.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-SemiBold.ttf
	source = https://github.com/google/fonts/raw/master/apache/opensans/OpenSans-SemiBoldItalic.ttf
	md5sums = f5331cb6372b6c0d8baf2dd7e200498c
	md5sums = f40598dd8ea8593e91ab28aa48130cf1
	md5sums = 49f89e34d03233b1f27788f75df7a40a
	md5sums = 617beb2703a6fccd227ab45754d73440
	md5sums = bf243bcbf81560535385c47725f57dfe
	md5sums = 9ff12f694e5951a6f51a9d63b05062e7
	md5sums = 54b4443404115cef4af765596ccf0ed3
	md5sums = d7d5d4588a9f50c99264bc12e4892a7c
	md5sums = e1c83f9474e0cc1d84a13c6d1ddf3ca5
	md5sums = fc17ea62c914b2aaa9e89ecc519a8cb3

pkgname = ttf-opensans

