pkgbase = vdr-zaphistory
	pkgdesc = History of the latest viewed channels
	pkgver = 0.9.6
	pkgrel = 17
	url = https://vdr-projects.e-tobi.net/projects/plg-zaphistory
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	license = GPL2
	depends = gcc-libs
	depends = vdr-api=2.6.1
	backup = etc/vdr/conf.avail/50-zaphistory.conf
	source = vdr-plugin-zaphistory-0.9.6.tar.gz::https://github.com/vdr-projects/vdr-plugin-zaphistory/archive/484b48a61c841a72c12c3a347bbafd0b96826da3.tar.gz
	md5sums = 8a4a1178b1dde04e2dfbb91864841f20

pkgname = vdr-zaphistory
