[Unit]
Description=Sundtek MediaTV Pro driver

[Service]
Type=forking
ExecStart=/opt/bin/mediasrv -d --pluginpath=/opt/bin --wait-for-devices
ExecStop=/opt/bin/mediaclient --shutdown

[Install]
WantedBy=multi-user.target
