pkgbase = text2skin-anthra-1024
	pkgdesc = Dark, anthracite skins for Klaus Schmidingers VDR
	pkgver = 0.3.4
	pkgrel = 2
	url = http://www.anthra.de/
	arch = any
	groups = text2skin-anthra
	license = GPL2
	depends = vdr-text2skin
	source = http://www.anthra.de/anthra-skins/anthra_1024-0.3.4.tar.xz
	md5sums = 091bb25b0769b9173efb31d2ee46c984

pkgname = text2skin-anthra-1024

