[Unit]
Description=Video Disk Recorder
After=lirc.service
After=oscam.service

[Service]
ExecStart=/usr/bin/runvdr
KillMode=process

[Install]
WantedBy=multi-user.target