[Unit]
Description=Klaus Schmidinger's Video Disk Recorder
After=lircd.service
After=oscam.service

[Service]
ExecStart=/usr/bin/runvdr
ExecReload=/usr/bin/runvdr --restart
ExecStop=/usr/bin/runvdr --terminate --wait=30

[Install]
WantedBy=multi-user.target