pkgbase = vdr-cecremote
	pkgdesc = Receive and send commands via CEC
	pkgver = 1.4.0
	pkgrel = 2
	url = http://uli-eckhardt.de/vdr
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	license = GPL2
	depends = libcec
	depends = pugixml
	depends = vdr-api=2.4.0
	backup = etc/vdr/conf.avail/50-cecremote.conf
	source = https://git.uli-eckhardt.de/?p=vdr-plugin-cecremote.git;a=snapshot;h=V1.4.0;sf=tgz
	source = 1.4.0-libcec4-fix.patch::https://git.uli-eckhardt.de/?p=vdr-plugin-cecremote.git;a=patch;h=c5edc353295d4b2ce3578c72d9093122e283e7c1
	source = 50-cecremote.conf
	md5sums = 656e7d34bd0311a61dbf11256c045f65
	md5sums = a6cd3798a575073ca71a3df78ecb7244
	md5sums = b07791e9ca361d41d58f2017fdcec70b

pkgname = vdr-cecremote

