pkgbase = kodi-addon-graphlcd
	pkgdesc = Kodi service addon to interface with graphlcd
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/M-Reimer/script.service.graphlcd
	arch = x86_64
	arch = i686
	license = GPL3
	depends = python2
	depends = kodi
	depends = graphlcd-base
	source = https://github.com/M-Reimer/script.service.graphlcd/archive/v2.0.0.tar.gz
	md5sums = 601be3158a08293a3eec82c41d893095

pkgname = kodi-addon-graphlcd

