[Unit]
Description=Video Disk Recorder
After=oscam.service
After=sundtek.service
After=xlogin@vdr.service

[Service]
Type=notify
ExecStart=/usr/bin/vdr
ExecStopPost=/usr/lib/vdr/bin/gen-sddropin
Restart=on-failure
RestartPreventExitStatus=2

[Install]
WantedBy=multi-user.target
