pkgbase = oscam
	pkgdesc = Open Source Conditional Access Module software
	pkgver = 10991
	pkgrel = 1
	url = http://www.streamboard.tv/oscam
	install = oscam.install
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	license = GPL3
	depends = libusb
	depends = openssl
	noextract = oscam-10991.zip
	source = oscam-10991.zip::http://www.streamboard.tv/oscam/changeset/10991/trunk?old_path=%2F&old=10991&format=zip
	source = oscam.service
	source = oscam.sysuser
	md5sums = 6e9c658742aa18be4c18859bd5b6b8d8
	md5sums = 0de56c99e34a6bdb7f4dc6349478a920
	md5sums = be0d9d7a5fdd8cf4918c4ea91cebd989

pkgname = oscam

