[Unit]
Description=Open Source Conditional Access Module
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
Type=forking
ExecStart=/usr/bin/oscam -b
TimeoutStopSec=30
User=oscam

[Install]
WantedBy=multi-user.target
